@import '~mand-mobile/components/_style/mixin/util'
<%_ if (options.version === 1) { _%>
@import '~mand-mobile/components/_style/mixin/theme'
<%_ } else { _%>
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'
<%_ } _%>
@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

color-primary = #00AF3B